
body {
	margin: 1;
	/* background-color:#0e274f; */
	font-family: Arial;
}




html {

	/* background-color:#0e274f;
	Hier gibt es noch mehr zu lernen ... eigentlich haette ich unten "backgrond-image" verwenden sollen aber so funktioniert es zumindest :) */

	background: url('./../Images/BackgroundStars.png') no-repeat center center fixed, #0e274f;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-blend-mode: overlay;
}




.center{
	text-align: center;
}

.youTubeCenter{
	display: inline;
	text-align: center;
	margin-left: 3%;
	position: relative;
	bottom: 60px;
	
}

.imageArrow{
	display: inline;
 	text-align: center;
 	margin-left: 35%;
}

.imageCode{
	display: inline;
	margin-left: 20%;
}



h1{
	color: white;
	display: inline;
}

h3{
	color: red;
	text-align: center;
}


LsIntro{
	margin-left: 30px;
}

ul li{
	margin: 5px;
	background: black;
	color: green;
	list-style-type: none;
	padding: 15px 10px;
	/*float: left;*/
	border-radius: 20px;
}

#YT-Channel{
	display: none;
	text-align: center;
	background: red;
	padding: 15px 10px;
	color: white;
	border-radius: 20px;
	/*margin-left: 30%;*/
}


p{
	text-align: center;
	background: #094d05;
	color: white;
	border-radius: 5px;
	padding: 15px 10px;
}